Requirements:

These playbooks leverage the Kubernetes Ansible collection.

Install with:
    `ansible-galaxy collection install community.kubernetes`

You may need to copy the plugins into the main plugin directory for systemwide use:
    `sudo cp ~/.ansible/collections/ansible_collections/kubernetes/core/plugins/modules/* /usr/share/ansible/plugins/modules`

Additionally, the OpenShift python3 pip module:
    `sudo pip3 install openshift`
